.location-detail-container {
    background-color: white;
    /* Add other styles for location detail page */
  }
  
  .restaurant-name {
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    /* Add other restaurant name styles */
  }
  .section {
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
  .section-sm {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .post-slider {
    overflow: hidden;
    margin-bottom: 20px;
  }
  .post-slider img {
    border-radius: inherit;
  }
  .post-slider:hover .prevArrow {
    left: 10px;
  }
  .post-slider:hover .nextArrow {
    right: 10px;
  }
  .rounded-lg, .post-slider {
    border-radius: 10px !important;
  }
  .locationDetails{
    max-width: 1140px;
  }
  .media-body{
    text-align: left;
  }
  
  /* Add styles for other elements on the location detail page */
  
  .card{
    display:flex;
    flex-direction:column;
    /* width:400px; */
    margin-bottom:60px;
    border: 0 !important;
  }
  .card>div{
    box-shadow:0 15px 20px 0 rgba(0,0,0,0.5);
  }
  .card-image{
    /* width:400px;
    height:250px; */
  }
  .card-image>img{
    width:100%;
    height:100%;
    object-fit:cover;
    object-position:bottom;
  }
  .card-text{
    margin:-30px auto;
    margin-bottom:-50px;
    /* height:300px;
    width:300px; */
    background-color:#1D1C20;
    color:#fff;
    padding:1rem;
  }
  .card-meal-type{
    font-style:italic;
  }
  .card-title{
    font-size:1.7rem;
    margin-bottom:20px;
    margin-top:5px;
  }
  .card-body{
    /* font-size:1rem; */
  }
  .card-price{
    width:100px;
    height:100px;
    background-color:#970C0A;
    color:#fff;
    margin-left:auto;
    font-size:2rem;
    display:flex;
    justify-content:center;
    align-items:center;
  }
  .menu{
    float: right
  }