.location-detail-container {
  background-color: white;
  /* Add other styles for location detail page */
}

.restaurant-name {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  /* Add other restaurant name styles */
}

.section {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.section-sm {
  /* padding-top: 80px; */
  padding-bottom: 80px;
}

.post-slider:hover .prevArrow {
  left: 10px;
}

.post-slider:hover .nextArrow {
  right: 10px;
}

.rounded-lg {
  border-radius: 10px !important;
}

.locationDetails {
  max-width: 1140px;
}

.media-body {
  text-align: left;
}

/* Add styles for other elements on the location detail page */

.card {
  display: flex;
  flex-direction: column;
  /* width:400px; */
  margin-bottom: 60px;
  border: 0 !important;
}

.card>div {
  box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.5);
}

.card-image>img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: bottom;
}

.card-text {
  margin: -30px auto;
  margin-bottom: -50px;
  /* height:300px;
    width:300px; */
  background-color: #1D1C20;
  color: #fff;
  padding: 1rem;
}

.card-meal-type {
  font-style: italic;
}

.card-title {
  font-size: 1.7rem;
  margin-bottom: 20px;
  margin-top: 5px;
}


.card-price {
  width: 100px;
  height: 100px;
  background-color: #970C0A;
  color: #fff;
  margin-left: auto;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  float: right;
}

.sections {
  text-align: start;
}

body {
  /* font-family: Arial, sans-serif; */
  line-height: 1.6;
  margin: 20px;
}

h1,
h2,
h3 {
  color: #333;
}

h4 {
  font-size: 1rem !important;
  color: #333;
}

.sections {
  margin-bottom: 20px;
}

p {
  /* color: black; */
  font-size: 1rem;
}

ul {
  margin-left: 20px;
  list-style-type: disc;
}

.hr-divider {
  border-top-width: 1px;
  margin-bottom: 2em;
  margin-top: 2em
}

li strong {
  font-weight: 600;
}

.cuisine-list {
  text-transform: capitalize;

}

.imagemenu {
  width: 59px;
}

/* Create a simple white box, and add the shadow for the initial state */
.box {
  margin-right: 14px;
  position: relative;
  display: inline-block;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: all 0.3s ease-in-out;
}

/* Create the hidden pseudo-element */
/* include the shadow for the end state */
.box::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  transition: opacity 0.3s ease-in-out;
}

/* The fast way */

.make-it-fast {
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}


/* Pre-render the bigger shadow, but hide it */

.make-it-fast::after {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}


/* Transition to showing the bigger shadow on hover */

.make-it-fast:hover::after {
  opacity: 1;
}

/* Scale up the box */
.box:hover {
  transform: scale(1.2, 1.2);
  z-index: 2;
}

/* Fade in the pseudo-element with the bigger shadow */
.box:hover::after {
  opacity: 1;
  z-index: 2;

}

.container-box {
  display: flex;

}

.center {
  flex: none;
}

@media (min-width: 768px) {
  .container, .container-md, .container-sm {
      max-width: 900px;
  }
}
.modal-custom {
  max-width: inherit;
}